.hero-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container h1 {
    /* color: #1A1A19; */
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

.hero-container h2 {
    /* color: #A25D34; */
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;

}

.hero-image {
    background-image: url("../../photos/camisa_pic.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: inherit;
    padding-top: 100%;
}

