.hero-container {
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://image.freepik.com/free-photo/top-view-white-desk-office-workspace-table-essential-elements-flat-lay_54178-913.jpg");
    /* background-image: url("https://t4.ftcdn.net/jpg/03/00/56/61/360_F_300566136_b8TwZKGOqvkrTiu2L0ZIU2I5mLuypbHH.jpg"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(244, 245, 245); 
    background-position-x: left;
    /* background-color: rgb(55, 0, 255); */
}

.hero-container h1 {
    /* color: #1A1A19; */
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
}

.hero-container h2 {
    /* color: #A25D34; */
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;

}

.hero-image {
    background-image: url("../../photos/camisa_pic.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: inherit;
    padding-top: 100%;
}

/* Diagonal Divider */
.separator {
    position: relative;
    width: 100vw;
    height: 100px;
    }
    
    .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    /* top color */
    background-color: rgb(244, 245, 246); 
    clip-path: polygon(100% 0, 0 0, 0 100%);
    }
    
    .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff; /*bottom color*/
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
    
    .separator.reverse {
    transform: rotateY(180deg);
    }
    