.contact-img {
    width: 40%;
    background-image: url("../photos/camisa.jpg");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin: auto; 
}

.contact-img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.material-icons {
    vertical-align: top;
    padding-right: 10px;
}

.contact-info {
    margin-top: 30px;
}