html body {
  height: 100vh;
  /* background-color: #e9e8e8; */
  background-color: #1a1919;
}

/* .navbar { */
  /* border-top: 5px solid red; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)); */
/* } */

.chip {
  display: inline-block;
  font-weight: bold;
  font-size: 9pt;
  line-height: 25pt;
  padding: 0 15px;
  border-radius: 72px;
  margin-bottom: 10px;
  margin-right: 5px;
  color: white;
}

.navbar-brand {
  color: white !important;
  cursor: pointer;
}

Link {
  text-decoration: none;
  color: white;
}