html body {
  height: 100vh;
  /* background-color: #37343b; */
  /* background-color: #1a1919; */
}

/* .navbar { */
  /* border-top: 5px solid red; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)); */
/* } */

nav {
  /* background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,0.8)); */
}

.chip {
  display: inline-block;
  font-weight: bold;
  font-size: 9pt;
  line-height: 25pt;
  padding: 0 15px;
  border-radius: 72px;
  margin-bottom: 10px;
  margin-right: 5px;
  color: white;
}

.navbar-brand {
  color: white !important;
  cursor: pointer;
}

.news-image {
  height: 300px;
  overflow: hidden;
}
.news-post {
  height: 400px;
  overflow: scroll;
}