.company-image {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    height: 200px;
    overflow: hidden;
}
.company-image img {
    width: 100%;
}
