section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.about {
    height: 40vh;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px black solid; */
}

.about h3 span {
    font-size: 26pt;
    vertical-align: baseline;
}

section h2 span {
    font-size: 30pt;
    vertical-align: baseline;
}

.music-cover {
    padding-top: 100%;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 2vh;
}

.movie-cover {
    padding-top: 150%;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 2vh;
}