section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

section .row {
    /* align-items: center; */
    /* text-align: center; */
}

.music-cover {
    padding-top: 100%;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 2vh;
}

.movie-cover {
    padding-top: 150%;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 2vh;
}