h2 {
    font-weight: bolder;
}

h4 b, .theme-yellow {
    color: #f8b739;
}

.theme-black {
    color: #1d1919;
}

ul#skills li {
    display: inline-block;
    margin-right: 5px;
}

ul#skills li:before {
	content: '\00a0\2022\00a0\00a0';
}

.company {
    justify-content: center;
    align-items: center;
    display: flex;
}

.project {
    padding: 15px;
    background-color: #f7f9f9;
    border: .25px solid #eaecee;
}