.footer {
    height: 30vh;
    background-image: url("../photos/heroimage.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: #e9e9e9; */
}