.home-container {
    background-color: #ccc;
    /* background-color: #D0A380; */
    /* padding-bottom: 15vh; */
}

.full-height {
    min-height: 100vh;
}

.home-nav-logo {
    height: 10vh;
    padding: 10px;
    margin-bottom: 10px;
}

  