.home-container {
    /* background-color: #ccc; */
    /* background-color: #D0A380; */
    /* padding-bottom: 15vh; */
}

.full-height {
    min-height: 100vh;
}

.project-height {
    min-height: 65vh;
}

.project-text {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 5vh; */
}

.home-nav-logo {
    height: 10vh;
    padding: 10px;
    margin-bottom: 10px;
}

.btn {
    font-size: 10pt;
    border: 2px solid #353634;
    color: #353634;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}





