* { box-sizing: border-box; }
html { height: 100%; }

.home-hero {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.footer {
    height: 30vh;
    /* background-image: url("../photos/heroimage.png"); */
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e9e9e9;
}