* { box-sizing: border-box; }
html { height: 100%; }

.home-hero {
    /* min-height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.footer {
    height: 30vh;
    /* background-image: url("../photos/heroimage.png"); */
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    /* border-top: 1px solid #e0e0e0; */
    /* background-color: #e9e9e9; */
}

/* 
    Brown Theme
    #5F3310,#101010,#BB6536,#FDE7AD,#AD8A60,#FFFFFF,#D4937A,#ECC091,#5F3310,#ECC091 
*/