* { box-sizing: border-box; }
html { height: 100%; }

.home-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    font-family: 'Noto Sans', sans-serif;
    /* font-weight: 700; */
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

h6, p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
  
li, small {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

a {
    font-family: 'Roboto Slab', serif;
    color: green;
    transition: 0.3s;
}

a:hover {
    color: greenyellow;
    text-decoration: none;
}

.footer {
    height: 30vh;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    /* border-top: 1px solid #e0e0e0; */
    /* background-color: #e9e9e9; */
    /* background-image: url("../photos/heroimage.png"); */
}
