.theme-changer {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.theme-changer:hover {
    cursor: pointer;
}

.theme-changer.light {
    background-color: lightgrey;
    /* border: .5px solid black; */
}

.theme-changer.dark {
    background-color: black;
    /* border: .5px solid grey; */
}

.navbar {
    background: transparent !important;
    box-shadow: none;
}

.brand-logo {
    color: inherit !important;
}

.navbar-light {
    /* color: black; */
}