
/* 
// Dark mode
$bg-theme-dark: #222;
$color-theme-dark: #fff; */ */

.theme-dark {
    background-color: #222;
}

/*


body {
    background-color: $bg-theme-light;
    color: $color-theme-light;
    padding: 0;
    height: 100vh;
}

.app-router {
    min-height: 100vh;
}

.app-router.theme-dark {
    background-color: $bg-theme-dark;
    color: $color-theme-dark;
}
  
.app-router.theme-light {
    background-color: $bg-theme-light;
    color: $color-theme-light;
} */