.footer-container {
    background-color: #222;
    color: #888;
    /* background-color: #E3DCC2; */
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 5vh;
}

.footer-container img {
    height: 100%;
}

.footer-container .logo-container {
    height: 20vh;
    padding: 30px;
}

.footer-container .link-container {
    border-left: 1px solid ;
    padding: 30px;
}