$theme-light-bg: #999;

$theme-dark-bg: #222;


.app-router.theme-light {
    .navbar {
        background-color: $theme-light-bg;
    }
}

.app-router.theme-dark {
    .navbar {
        background-color: $theme-dark-bg;
        color: white;
    }

    .home-hero .h1 {
        color: white;
    }
}