// Light mode
$bg-theme-light: #fff;
$color-theme-light: #222;


// Dark mode
$bg-theme-dark: #222;
$color-theme-dark: #fff;


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: $bg-theme-light;
    color: $color-theme-light;
    padding: 0;
    height: 100vh;
}

.app-router {
    min-height: 100vh;
}

.app-router.theme-dark {
    background-color: $bg-theme-dark;
    color: $color-theme-dark;
}
  
.app-router.theme-light {
    background-color: $bg-theme-light;
    color: $color-theme-light;
}