$theme-light-bg: #999;
$theme-light-color: black;


$theme-dark-bg: #222;


.theme-light .bg-light {
    color: red;
    transition: 1s;
}


.bg-dark {
    color: white;
    background-color: red;
    transition: 1s;
}


/* 
    Brown Theme
    #5F3310,#101010,#BB6536,#FDE7AD,#AD8A60,#FFFFFF,#D4937A,#ECC091,#5F3310,#ECC091 
*/